/* 移动端样式重置（常用标签）原则：就是reset 只是需要的一些，不是无脑一刀切 */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  touch-action: none;
}

html,
body {
  color: #000;
  width: 100%;
  height: 100%;
}

/* margin padding 重置*/
body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
header,
nav,
footer,
section,
aside {
  margin: 0;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;

  /* iOS 9+ Safari开始支持 -apple-system 参数， Chrome 使用 BlinkMacSystemFont ，兼容 iOS ／ MacOS*/
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

input {
  outline: none;
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
  /*禁止保存或拷贝图像（IOS）根据需要设置*/
  /*-webkit-touch-callout: none;*/
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

p {
  word-wrap: break-word;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

// 不显示滚动条
div::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* 开发整体风格一致的App 特定义全局的css变量 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #1f6bdd;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color: #333; //基本色
$uni-text-color-inverse: #fff; //反色
$uni-text-color-grey: #999; //辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

/* 背景颜色 */
$uni-bg-color: #f1f1f3; // 背景色
$uni-bg-color-hover: #f1f1f1; // 点击状态颜色
$uni-bg-color-mask: rgba(0, 0, 0, 0.5); //遮罩颜色

/* 常用的类  */
/* 多行省略号  */
.mul-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
  /*-webkit-line-clamp用来限制在一个块元素显示的文本的行数。 
    display: -webkit-box; 将对象作为弹性伸缩盒子模型显示 。
    -webkit-box-orient 设置或检索伸缩盒对象的子元素的排列方式 。*/
}

/*单行省略号*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 遮罩 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden;
  background-color: $uni-bg-color-mask;
}

/* 公用页面的wrap */
.page-wrap {
  background-color: $uni-bg-color;
}

/* 定位上下左右居中 */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 定位上下居中 */

.c-tb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 定位左右居中 */

.c-lr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
